{% extends "layout.html" %}

{% block title %}Create account{% endblock %}

{% block content %}
  <h2>Create an account</h2>

  <form action="/create" method="post">
    <input
      type="hidden"
      name="csrf_token"
      value="{{ session.csrf_token }}"
    >

    <p>
      <label for="username">Username</label><br>
      <input
        id="username"
        name="username"
        type="text"
        value="{{ filled.username }}"
        minlength="3"
        maxlength="30"
        autocomplete="username"
        required
      >
    </p>

    <p>
      <label for="password1">Password</label><br>
      <input
        id="password1"
        name="password1"
        type="password"
        minlength="8"
        maxlength="100"
        autocomplete="new-password"
        required
      >
    </p>

    <p>
      <label for="password2">Confirm password</label><br>
      <input
        id="password2"
        name="password2"
        type="password"
        minlength="8"
        maxlength="100"
        autocomplete="new-password"
        required
      >
    </p>

    <button type="submit">Create account</button>
  </form>
{% endblock %}